<html>

<head>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<style>
div.toggle {
    display: none;
}

div.relative {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

div.absolute {
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.full-height {
    height: 100%;
}

.image-upload input {
  display: none;
}

</style>

<body style="background-color:#000000;" vlink="#06A1DB" alink="#F6B700" link="#06A1DB">

<center>
<title>harmonize.io</title>


<table WIDTH="600">
<tr> <td ALIGN="center"><a href="/"><IMG SRC="static/logo_text.svg" WIDTH="400"></a></td></tr>

<tr HEIGHT="15"></tr>

<tr>
    <td ALIGN="center">
        <p ALIGN="center"> <font FACE="Segoe UI Symbol" SIZE="6" COLOR="White">Download the Harmonized Melody:</font> </p>
    </td>
</tr>

<tr HEIGHT="10"></tr>


<tr>
    <td align="center">
        <a href="/Harmonized-Melody-Redirect/"><img src="static/button_download.svg" width="250"/></a>
    </td>
</tr>


<tr>
    <td>
        <p> <font FACE="Segoe UI Symbol" SIZE="5" COLOR="White"><a href="/">← Return Home</a></font> </p>
    </td>
</tr>

<tr>
    <td align="right">
        <p> <font FACE="Segoe UI Symbol" SIZE="5" COLOR="White"><a href="/">Harmonize Another Melody →</a></font> </p>
    </td>
</tr>


<tr height="15"/>
<tr>
    <td>
    <div class="full-height">
        <div class="relative" align="center"><a href="/main"><IMG src="static/logo_cropped_rectangle_no_text.svg" width="200"></a></div>
    </div>
    </td>
</tr>
</table>

</center>

</body>
</html>





